# --- Entornos y Ejecutables ---
Miniconda3-*.sh

# --- Python ---
__pycache__/

# --- Machine Learning / Datos ---

# Ignorar el dataset, carpeta de datos crudos
datasets/

# --- Sistema ---
.DS_Store               